
.custom-container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
    padding: 0;
    padding-bottom:40px;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
  
.grid-container {
    background-color:black  ;
    display: grid;
    padding-left: 10px;
    margin-right:20px;
    padding-top:40px;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
  }
.title{
    font-size:19px ;
    color:white;
}
.title:hover{
    font-size: 1.15em; 
}
.date{
    font-size:14px;
    color:white;
}
.description{
    padding-top: 10px;
    font-size:11px ;
    font-weight:100;
    color:white;
}
.grid-item {
    width:90%;
    background-color: none; /* item background color */
    border-radius: 5px; /* item border radius */
    text-align: start; /* center text inside item */
  }
  
.image-container {
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    margin-bottom: 10px; /* add some space below image */
  }
  
.image-container img{
    max-width: 100% !important;
    border-radius:10px;
    height:auto;
    object-fit: contain;
  }
  
.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 5px; /* Gap between grid items */
  }
  

.Section-Title h1{
    padding-top:30px;
    padding-left:20px;
    width:22%;
    color:white;
    font-size:4vw;
    font-weight:bolder;
}

@media (max-width: 768px){
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  }
  .description{
    font-size: 11px;
  }
}

@media (max-width: 450px){
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* Three columns with equal width */
  }
  .Section-Title h1{
    font-size: 40px;
    width: 70%;
  }
}
