.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    background-color: rgb(242, 234, 234);
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
  .grid-item {
    background-color: none;
    padding: 7px;
    border-bottom: 2px solid #ccc;
    margin-right: 12px;
    margin-left:12px;

  }
  
  .title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 24px;
    line-height: 1.5    ;
    margin-right: 16px;
  }
  
  .grid1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid2 {
    padding-right: 30px;
    display: grid;
    place-items: center;
  }
  
  .grid2 img {
    width: 100%;
    height: auto;
    
  } 

  @media (max-width:1024px){
    .description{
      font-size: 20px;
    }
    .title{
      font-size: 36px;
    }

  }
  @media (max-width:714px){
    .grid-container{
      grid-template-columns: repeat(1,1fr);
    }
    .grid2{
      order:-1;
    }
    .description{
      font-size: 18px;
    }
    .title{
      font-size: 30px;
    }
  }
