
.container-fluid{
    padding: 20px;
    display:flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    background-color: black;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
.Contact{
    flex:2;
    padding:30px;
}
.Locations{
    flex:2;
    padding:30px;

}
.image-container{
  display:flex;
}

.image-container img{
    flex:4;
    width:101%;
}
.descs{
  width: 29vw;
}
.title h1{
    color:white;
    font-size:32px;
}

.descs a1{
    color:white;
}
.text-container{
  display: flex;
  flex-direction: row;
}

@media (max-width:924px){
  .other a1{
    font-size:14px;
  }
  .text-container{
    flex-direction: column;
  }
}

@media (max-width:768px){
  .text-container{
    flex-direction: column;
  }
  .title h1{
    font-size: 25px;
  }
  .descs{
    width:29vw;
  }
  .descs a1{
    font-size: 14px;
  }
}
@media (max-width:600px){
  .title h1{
    font-size: 20px;
  }

  .descs a1{
    font-size: 12px;
  }
}

@media (max-width:540px){
  .text-container{
    flex-direction: column;
  }
  .container-fluid{
    align-items: start;
    flex-direction: column;
  }
}


@media (max-width:339px){
  .container-fluid{
    padding:85px;
  }
  .descs{
    width: 34vw;
  }
}