.container-section-services{
    display: flex;
    padding: 40px;
    background-color: black;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }

.container-s-s-a {
    display: flex;
    flex-direction: row;
}
.container-fluid{
    background-color: rgb(242, 234, 234);
}
.service-info-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.service-title{
    padding-left: 5px;
    padding-right: 10px;
   justify-content: start;
}

.service-desc-container{
    width:70%;
    border-left:1px solid white;

}

.clickable-text{
    text-decoration:none;
    color:aqua;
    font-size:18px;

}
.ruler {
    padding-right: 5px;
    border-left: 1px solid rgb(19, 163, 156);
    height: 200px; /* set the height of the ruler */
  }
  
  .row {
    display: flex;
    flex-direction: row;
    border-right: 4px solid #ccc;
    padding-left: 80px;
  }

  .partners-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    background-color: white;
    padding: 3px;
  }
  .desc a{
    color:#979395 !important;
    font-size:18px;
  }

  @media only screen and (max-width: 768px) {
    .clickable-text{
      font-size: 15px;
    }
    .desc a{
      font-size:15px;
    }
    .container-section-services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    }
    .service-info-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .service-desc-container{
    width: 100%;
    border-left:1px solid white;
    }
    .image-container{
    padding: 0;
    }
    .partners-container {
    grid-template-columns: repeat(3, 1fr);
    }
    }


  @media (max-width:563px){
    .container-s-s-a{
      flex-wrap: wrap;
    }
  }  
  @media (max-width:414px){
    .partners-container{
      grid-template-columns:repeat(2,1fr);
    }
    
  }
    
    
    
    