header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	padding: 10px;
    font-size: x-large;
}

.logo {
  width:256px;
  padding:17px;
}
.container{
    display: flex;
    background-color: #333;
    flex-direction: column;
    height: 200%;
    }

    
    .landing-section,
    .services,
    .record,
    .tech-stack,
    .offered-value,
    .clients-response,
    .portfolio,
    .projects,
    .news,
    .hire-us,
    .new-projects,
    .contact,
    .bottom-section {
      width: 100%;
      height: 100%;
    }
    
.container-top{
    
    padding: 2px;
}
.office-logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Scale image while preserving aspect ratio */
  z-index: -1;
}
.image{
  margin-bottom:10px;
}
.container-section-a{
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
.container-section-a-1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;

}
.container-section-a-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    padding-left: 30px;
}
.container-section-a-1-2{
    display: flex;
    justify-content: center;
}
.container-section-a-1-2-1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container-section-a-1-2-1-motto{
  display:flex;
  justify-content: center;
  margin-bottom:14px;
}

.container-section-a-1-2-1-motto h1{
  font-weight:bold;
  font-size:60px;
  color:white;
}

.container-section-a-1-2-1-message{
    /* margin-right: 210px;
    padding-left:60px;
    padding-bottom:20px; */
    display: flex;
    align-items: center;
    color:white;
    text-align:center;
    width: 65%;
    font-family: sans-serif;
    
}
.container-section-a-1-2-1-message span {
  font-size:16.6px;
  font-style: normal;
}
.vl {
    border-left: 2px solid rgb(19, 196, 223);
    height: 98px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width:38px;
  }
  
.container-fluid{
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 5s ease-in-out forwards; /* Add fade-in animation */

} 
  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
  .image img {
    max-height: 44px;
    max-width:100%;
  }

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
    color: rgb(212, 187, 187);
}

nav ul li {
	margin-right: 20px;
    font-size:xx-large;
    color: rgb(255, 255, 255);
}
nav ul li a {
    color: aliceblue;
}
nav ul li:last-child {
	margin-right: 0;
}

.dropdown-menu {
    font-size: x-large;
    display: none; /* Hide the dropdown menu by default */
    background-color: white;
  }

.dropdown-item{
    font-size:large;
}  
.dropdown:hover .dropdown-menu {
     
    display: flex;
    flex-direction: column;
    
  }
btn .dropdown-toggle{
    font-size: x-large;
}

.divider {
    height: 40px;
    width: 100%;
    background-color: white;}


    .iframe-container {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-top: 30px;
    }
    
    .iframe-container iframe {
      width: 100%;
      border: none;
    }
.new-iframe{
  height:calc(100vh - 95px) !important;
  width: 100% !important;
}

nav ul li a {
  color: aliceblue;
  font-size: 22px;
  text-decoration: none;
  font-family: inherit;
  transition: color  0.3s ease-in-out;
}
.nav-buttons:hover{
  color: #2abdb1;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: relative;
  transition: color  0.3s ease-in-out;
}

.dropdown:hover .dropdown-btn {
  color: #2abdb1;
  
}

.dropdown-menu-container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 74%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 0;
}

.dropdown-items{
  font-size:16px;
  color:black;
  padding:10px;
  text-decoration: none;
  transition:color 0.3s ease-in-out;
  text-align: center;
}
.dropdown-items:hover{
  color:#32f8e7;
  background-color:rgb(16, 10, 55)
}
.dropdown:hover .dropdown-menu-container,
.dropdown:focus-within .dropdown-menu-container {
  display: block;
}


.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}


.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid white;
  transition: border-top-color 0.3s ease-in-out;

}
.dropdown:hover .arrow-down {
  border-top-color: #2abdb1;
}
.container-section-a-1-2-1-message .h1{
  font-size: 62px;
  color: white;
  letter-spacing: 3px;
  width: 100%;
}
.btn{
  background: linear-gradient(45deg, #06615f, #cddbe8);
  font-size: 20px;
  border-radius: 30px;
}
.btn.btn-primary.rounded-pill {
  padding: 4px 25px; /* adjust the values to your liking */
}
.container-section-a-2{
  display:flex;
  justify-content: center;
  padding:25px;
}
.links-container{
  align-items: center;
  justify-content: center;
  
}

.links a{
color: #18ffec;
font-weight: bold;
}

@media (max-width:960px){
  .container-section-a-1-2-1-motto h1{
    font-size: 42px;
  }
  .container-section-a-1-2-1-message{
    width:75%;
  }
  .container-section-a-1-2-1-message span{
    font-size: 13.5px;
  }
  nav ul li a{
    font-size:16px;
  }

}
@media (max-width:707px){
  .container-section-a-1-2-1-motto h1{
    text-align: center;
  }
}
@media (max-width:766px){
  nav ul li a{
    font-size:16px;
  }
  .nav-desktop{
    display: none;
  }
}
@media (max-width:620px){
  .container-section-a-1-2-1-motto h1{
    text-align:center;
  }
}