<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="LandingPage.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  </head>
  <body>

    <div class="container-section-a">
        <header>
                <div class="logo">
                    <img src="../../Assets/logo.jpeg" alt="Logo" style="height:80px;width:120px;">
                </div>
                <nav>
                    <ul>
                        <li><a style="font-size: large;text-decoration: none;" href="#">Home</a></li>
                        <li>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" style="font-size: large;padding-top: 14px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                                </a>
                            
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Web Development</a></li>
                                <li><a class="dropdown-item" href="#">Graphic Design</a></li>
                                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                                </ul>
                            </div>
                                
                        </li>
                        <li><a style="font-size: large; text-decoration: none" href="#">Projects</a></li>
                        <li><a style="font-size: large; text-decoration: none" href="#">About Us</a></li>
                        <li><button style="font: 29px;size: 10px;">Hire Us</button></li>
                    </ul>
                </nav>
            </header>
            <div class="container-section-a-1">
                <div class="container-section-a-1-1">
                    <div class="vl"></div>
                    <div class="logo-container">
                        <img src="../../Assets/facebook.png">
                        <img src="../../Assets/whatsapp.png">
                        <img src="../../Assets/linkedin.png">
                    </div>
                    <div class="vl"></div>
        
                </div>
                <div class="container-section-a-1-2">
                    <div class="container-section-a-1-2-1">
                        <div class="container-section-a-1-2-1-motto">
                            <h1 style="font-size:70px;padding-left: 35px;color: white;letter-spacing: 3px;">Imagine. Connect. Achieve</h1>
                        </div>
                        <div class="container-section-a-1-2-1-message">
                            <span style="font-size: 19px;">We turn your website into the most valuable and profitable marketing asset of yours.
                                Our success is your credibility and sense of reliability and we know how to turn your dreams into reality</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>  </body>
</html>

