header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	padding: 10px;
    font-size: x-large;
}

.logo {
	flex: 1;
    }
.container{
    display: flex;
    background-color: #333;
    flex-direction: column;
    height: 200%;
    }

    
    .landing-section,
    .services,
    .record,
    .tech-stack,
    .offered-value,
    .clients-response,
    .portfolio,
    .projects,
    .news,
    .hire-us,
    .new-projects,
    .contact,
    .bottom-section {
      width: 100%;
      height: 100%;
    }
    
.container-top{
    
    padding: 2px;
}
.container-section-a{
    background-repeat: no-repeat;
  background-size:cover;
  background-image: linear-gradient( rgba(24, 49, 61, 0.659), rgba(20, 35, 50, 0.618)), url("../../Assets/office.jpg");
  background-position: bottom;

    display: flex;
    flex-direction: column;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
.container-section-a-1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;

}
.container-section-a-1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    padding-left: 30px;
}
.container-section-a-1-2{
    display: flex;
    padding-left:80px;
    padding-top: 80px;
    justify-content: center;
}
.container-section-a-1-2-1{
    flex-grow:1;
    padding-left:30px;
    justify-content: center;
}
.container-section-a-1-2-1-message{
    margin-right: 210px;
    padding-left:60px;
    padding-bottom:20px;
    color:white;
    text-align:center;
    width: 65%;
    
}
.vl {
    border-left: 6px solid rgb(19, 196, 223);
    height: 98px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
.container-fluid{
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 5s ease-in-out forwards; /* Add fade-in animation */

} 
  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
  .logo-container img {
    height: 40px;
    padding-bottom: 5px;
    margin: 4px 10px;
  }


.container-section-a-2{
    padding-top:10px;
    padding-bottom:10px;
    padding-right:90px;
    display: flex;
    justify-content: center;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
    color: rgb(212, 187, 187);
}

nav ul li {
	margin-right: 20px;
    font-size:xx-large;
    color: rgb(255, 255, 255);
}
nav ul li a {
    color: aliceblue;
}
nav ul li:last-child {
	margin-right: 0;
}

.dropdown-menu {
    font-size: x-large;
    display: none; /* Hide the dropdown menu by default */
    background-color: white;
  }

.dropdown-item{
    font-size:large;
}  
.dropdown:hover .dropdown-menu {
     
    display: flex;
    flex-direction: column;
    
  }
btn .dropdown-toggle{
    font-size: x-large;
}

.divider {
    height: 40px;
    width: 100%;
    background-color: white;}


    .iframe-container {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-top: 30px;
    }
    
    .iframe-container iframe {
      width: 100%;
      border: none;
    }
.new-iframe{
  height:calc(100vh - 95px) !important;
  width: 100% !important;
}
@media only screen and (max-width: 767px) {
  .new-iframe {
    height: calc(100vh - 150px) !important;
  }
}

/* For screens between 768px and 992px (e.g. tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .new-iframe {
    height: calc(100vh - 120px) !important;
  }
}

/* For screens larger than 992px (e.g. desktops) */
@media only screen and (min-width: 992px) {
  .new-iframe {
    height: calc(100vh - 95px) !important;
  }
}