<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="navdynamic.css">
<link rel="stylesheet" href="LandingPage.css">
<link rel="stylesheet" href="dropdownButton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script>
    function toggleDropdown() {
      var dropDownMenu = document.getElementById("dropdown-menu-container");
      var menu = document.getElementById("navdynamic-container");
      var navdynamic = document.getElementById("navdynamic");
      if (dropDownMenu.style.display === "flex") {
        dropDownMenu.style.display = "none";
      } else {
        dropDownMenu.style.display = "flex";
      }
      var menuHeight = navdynamic.scrollHeight;

        // Set the height to be the height of the menu when it's open
        menu.style.height = menuHeight + "px";
    }
    function toggleDropdownNavbar() {
      var menu = document.getElementById("navdynamic-container");
      var dropdownButton = document.getElementById("dropdownButtonDynamic");
      var dropDownCancel = document.getElementById("dropdown-cancel");
      var navdynamic = document.getElementById("navdynamic");
      dropdownButton.style.display = "none";
      dropDownCancel.style.display = "block";
    //   menu.classList.toggle("show");
    //   menu.style.display = "block";
      // Get the height of the menu when it's open
        var menuHeight = navdynamic.scrollHeight;

        // Set the height to be the height of the menu when it's open
        menu.style.height = menuHeight + "px";
      

    }
    function toggleDropdownCancel() {
      var dropDownCancel = document.getElementById("dropdown-cancel");
      var dropDownButton = document.getElementById("dropdownButtonDynamic");
      var dropDownMenu = document.getElementById("dropdown-menu-container");
      var menu = document.getElementById("navdynamic-container");
      dropDownMenu.style.display = "none";
    //   menu.classList.toggle("show");
    //   menu.style.display = "none";
      dropDownCancel.style.display = "none";
      dropDownButton.style.display = "block";
      menu.style.height = 0;
      
    }
</script>
  </head>
  <body>

    <div class="container-section-a">

            <!-- BACKGROUND IMAGE -->
            <div class="office-logo">
                <img src="../../Assets/office66loop.png" >
            </div>

        <header>
                <!-- LOGO-->
                <div class="logo">
                    <img src="../../Assets/66looplogo.png" alt="Logo" style="width:100%;">
                </div>

                <!-- DROPDOWN BUTTON -->
                <button id="dropdownButtonDynamic" class="dropdown-button-dynamic" onclick="toggleDropdownNavbar()">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </button>

                <!-- DROPDOWN CANCEL BUTTON -->  
                <i class="fa fa-close" onclick="toggleDropdownCancel()" id="dropdown-cancel" style="font-size:48px;color:aqua;display:none"></i>

                <!-- NAV DESKTOP VERSION -->
                <nav class="nav-desktop">
                    <ul>
                        <li><a href="#" class="nav-buttons">Home</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-btn">Services <i class="arrow-down"></i></a>
                          <div class="dropdown-menu-container">
                            <div class="dropdown-menu" style="display:flex">
                                <a class="dropdown-items" href="#">Web Development</a>
                                <a class="dropdown-items" href="#">Graphic Design</a>
                                <a class="dropdown-items" href="#">Digital Marketing</a>
                            </div>
                          </div> 
                        </li>
                        <li><a href="#" class="nav-buttons">Projects</a></li>
                        <li><a href="#" class="nav-buttons">About Us</a></li>
                        <li>
                            <button class="btn btn-primary rounded-pill">
                                <a>
                                    Hire Us
                                </a>
                            </button>
                        </li>
                      </ul>
                      
                </nav>
            </header>
            <div class="container-section-a-1">


                <!-- NAV DYNAMIC VERSION -->
                <div class="navdynamic-container" id="navdynamic-container">
                    <div class="navdynamic" id="navdynamic">
                        <div class="menu-item">
                            <span>
                                Home
                            </span>
                        </div>


                        <div class="menu-item dropdown-dynamic" onclick="toggleDropdown()">
                            <a href="#" class="dropdown-btn-dynamic">
                              <span>Services</span> 
                              <i class="arrow-down-dynamic"></i>
                            </a>
                          </div>
                          <div class="dropdown-menu-container-dynamic" id="dropdown-menu-container">
                            <div class="dropdown-menu-dynamic">
                              <a class="dropdown-items" href="#">Web Development</a>
                              <a class="dropdown-items" href="#">Graphic Design</a>
                              <a class="dropdown-items" href="#">Digital Marketing</a>
                            </div>
                          </div>
                          
                        <div class="menu-item">
                            <span>
                                Projects
                            </span>
                        </div>
                        <div class="menu-item">
                            <span>
                                About Us
                            </span>
                        </div>
                        


                    </div>
                </div>

            <!-- SECTION 2 containing logo,message and motto -->
                <div class="container-section-a-1-1">
                    <div class="vl"></div>
                    <div class="logo-container">
                        <div class="image">
                            <img src="../../Assets/facebook.png">
                        </div>

                        <div class="image">
                            <img src="../../Assets/whatsapp.png">
                        </div>

                        <div class="image">
                            <img src="../../Assets/linkedin.png">
                        </div>
                    </div>
                    <div class="vl"></div>
        
                </div>
                <div class="container-section-a-1-2">
                    <div class="container-section-a-1-2-1">
                        <div class="container-section-a-1-2-1-motto">
                            <h1>Imagine. Connect. Achieve</h1>
                        </div>
                        <div class="container-section-a-1-2-1-message">
                            <span >We turn your website into the most valuable and profitable marketing asset of yours.
                                Our success is your credibility and sense of reliability and we know how to turn your dreams into reality</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-section-a-2">
                <div class="link-container">
                    <div class="links">
                        <a class="link" href="#">View Projects</a>
                        <a style="color:white">or </a>
                        <a class="link" href="#">Read About Us</a>

                    </div>
                </div>
            </div>
        </div>  
    </body>
</html>
