:root {
    --font-size: 17px;
  }
  

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* 1 col in mobile view*/
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Add fade-in animation */

}

  @keyframes fadeIn {
    from {
      opacity: 0; /* Set starting opacity */
    }
    to {
      opacity: 1; /* Set ending opacity */
    }
  }
  
  .left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    
  }
  .img-container{
    display:flex;
    justify-content: center;
  } 
  

  .right-container {
    display: flex;
    flex-direction: column;
  }

  .right-grid{
  display:grid;
  grid-template-rows: repeat(1,1fr);
  gap:4px;
  padding:10px;
}  
  .name-email-grid{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    gap:10px;

}
  .message{
    display:grid;
    grid-area: inherit;
  }
  .options-section{
    display:flex;
    padding-top: 15px;
    flex-direction: column;
    line-height: 4vh;
  }
#Name{
    height:50px;
    width:auto;
}
#Email{
    height:50px;
    width:auto;
}
.option-label {
    font-size: var(--font-size);

  }

.label{
  font-size:42px;
  font-weight: bolder;
}
.right-container a1{
  font-size: 32px;
}
@media (max-width: 1240px) {
  .img-container{
    display:flex;
    justify-content: center;
  }
  .img-container img {
    width: 50%;
  }

  .grid-container{
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
  }
  #Name{
    height:50px;
    width:100%;
}
  #Email{
    height:50px;
    width:100%;
}

  #Message{
    width:96%;

  }

}

@media (max-width: 590px) {
  .img-container img {
    width: 55%;
  }
  
  .right-container a1{
    font-size: 24px;
    padding:10px;
  }

  .options a1{
    font-size:24px;
    padding:10px;

  }
  .grid-container{
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
  }
  .name-email-grid{
    grid-template-columns: repeat(1,1fr);
  }
  #Name{
    height:50px;
    width:100%;
}
#Email{
    height:50px;
    width:100%;
}

}
